/*
设置黑体，苹果电脑默认苹果字体

*/
.content{
	margin: 11.5rem 0 0 0;
	text-align: center;
	color: #3B3C3E;
	line-height: 7rem;
}
#welcome-en{
	font-size: 6rem;
	font-weight: 600;
}
#welcome-ch{
	margin: -1rem 0 0 0;
	font-size: 1.75rem;
	
}

/*###################### 登录 ##############################*/
#mask{
	width: 100%;
	height: 100%;
	left: 0;
	-moz-opacity: 0.8;
	opacity:.80;
	background: gray;
	position: absolute;
	top: 0%;
	z-index: 9;
}
#login{
	position: absolute;
	top: 0%;
	left: 35%;
	z-index: 10;
}
/*###################### 登录 ##############################*/