.content {
	padding: 3rem 4rem 3rem 4rem;
}

.box {
	background-color: white;
	border-radius: 0.5rem;
}

.left {
	float: left;
	width: 12rem;
	margin: 0 1.5rem 0 0;
	padding: 0 1.5rem 0 1.5rem;
	height: 37rem;
	font-weight: 600;
}

.button {
	width: 12rem;
	height: 2.5rem;
	border-radius: 0.3rem;
	text-align: center;
	line-height: 2.5rem;
	color: white;
	font-size: 0.85rem;
	letter-spacing: 0.1rem;
	margin: 2rem 0 2rem 0;
	background-color: #36c384;
}

.right {
	float: right;
	width: 64.3rem;
	height: 37rem;
	background-color: #F7F9F8;
}

.search-bar {
	color: white;
	height: 3.5rem;
}

input {
	outline: none;
	border: 0.1rem solid #ccc;
}

input:focus {
	border: 0.1rem solid #ccc;
}

.search {
	background-color: white;
	background-image: url(../../assets/image/搜索.png);
	background-repeat: no-repeat;
	background-size: 1rem;
	background-position: 0.5rem center;
	padding: 0 0 0 2rem;
	float: left;
	height: 1.6rem;
	margin: 0.85rem;
	border-radius: 2rem;
	width: 8rem;
	color: #747476;
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}

select {
	outline: none;
	border: 0.1rem solid #ccc;
}

select:focus {
	border: 0.1rem solid #ccc;
}

.diff {

	float: right;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
	font-weight: 700;
}

.diff select {
	background-color: white;
	background-image: url(../../assets/image/倒三角.png);
	background-repeat: no-repeat;
	background-size: 2rem;
	background-position: right;
	padding: 0 0 0 0.8rem;
	margin: 0.95rem 0.85rem 0.85rem 0;
	width: 5rem;
	height: 1.6rem;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 2rem;
	font-size: 0.8rem;
	color: #747476;
	letter-spacing: 0.05rem;
	font-weight: 600;
}


.list {
	margin: 1rem 0 0 0;
	height: 32.5rem;
}

.list .title{
	
}

.list .line{
	
}